body{
    background-color: #16a085;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input::placeholder{
    color: #d3d3d3;
}
.submit{
    background-color: #6BA3E8;
}
.center-column{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}
.item-row{
    background-color: #535c68;
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}
.btn-danger{
    background-color: #ffae19;
    border-color: #e59400;
}
.text-warning{
    background-color: #817b6f;
}
